<%= content_for(:page_title) do %>
  Search teaching school hub
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @search, url: { action: :results }, scope: '', method: :get do |f|%>
      <%= f.govuk_text_field :location,
         width: "three-quarters",
         label: { text: t('.title'), size: "xl", tag: "h1" },
         hint: { text: t(".hint") } %>
      <%= f.govuk_submit t('.submit') %>
    <% end %>
  </div>
</div>
