---
http_interactions:
- request:
    method: get
    uri: https://api.os.uk/search/names/v1/find?fq=local_type:City%20local_type:Hamlet%20local_type:Other_Settlement%20local_type:Town%20local_type:Village%20local_type:Postcode&key=geocoderkeykey&query=Luton,%20UK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Omse-Category:
      - open
      Omse-Transaction-Count:
      - '60'
      Omse-Premium-Count:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.os.uk/search/names/v1/find?fq=local_type%3ACity%20local_type%3AHamlet%20local_type%3AOther_Settlement%20local_type%3ATown%20local_type%3AVillage%20local_type%3APostcode&query=Luton%2C%20UK",
            "query" : "Luton, UK",
            "format" : "JSON",
            "maxresults" : 100,
            "offset" : 0,
            "totalresults" : 3,
            "filter" : "fq=local_type:City local_type:Hamlet local_type:Other_Settlement local_type:Town local_type:Village local_type:Postcode"
          },
          "results" : [ {
            "GAZETTEER_ENTRY" : {
              "ID" : "osgb4000000074572547",
              "NAMES_URI" : "http://data.ordnancesurvey.co.uk/id/4000000074572547",
              "NAME1" : "Luton",
              "TYPE" : "populatedPlace",
              "LOCAL_TYPE" : "Town",
              "GEOMETRY_X" : 509031.0,
              "GEOMETRY_Y" : 221292.0,
              "MOST_DETAIL_VIEW_RES" : 74000,
              "LEAST_DETAIL_VIEW_RES" : 2000000,
              "MBR_XMIN" : 501743.0,
              "MBR_YMIN" : 219219.0,
              "MBR_XMAX" : 513063.0,
              "MBR_YMAX" : 226739.0,
              "POSTCODE_DISTRICT" : "LU1",
              "POSTCODE_DISTRICT_URI" : "http://data.ordnancesurvey.co.uk/id/postcodedistrict/LU1",
              "COUNTY_UNITARY" : "Luton",
              "COUNTY_UNITARY_URI" : "http://data.ordnancesurvey.co.uk/id/7000000000037536",
              "COUNTY_UNITARY_TYPE" : "http://data.ordnancesurvey.co.uk/ontology/admingeo/UnitaryAuthority",
              "REGION" : "Eastern",
              "REGION_URI" : "http://data.ordnancesurvey.co.uk/id/7000000000041425",
              "COUNTRY" : "England",
              "COUNTRY_URI" : "http://data.ordnancesurvey.co.uk/id/country/england",
              "SAME_AS_GEONAMES" : "http://sws.geonames.org/2643339"
            }
          }, {
            "GAZETTEER_ENTRY" : {
              "ID" : "osgb4000000074555115",
              "NAMES_URI" : "http://data.ordnancesurvey.co.uk/id/4000000074555115",
              "NAME1" : "Luton",
              "TYPE" : "populatedPlace",
              "LOCAL_TYPE" : "Hamlet",
              "GEOMETRY_X" : 290123.0,
              "GEOMETRY_Y" : 76949.0,
              "MOST_DETAIL_VIEW_RES" : 5000,
              "LEAST_DETAIL_VIEW_RES" : 25000,
              "MBR_XMIN" : 289842.0,
              "MBR_YMIN" : 76681.0,
              "MBR_XMAX" : 290379.0,
              "MBR_YMAX" : 77181.0,
              "POSTCODE_DISTRICT" : "TQ13",
              "POSTCODE_DISTRICT_URI" : "http://data.ordnancesurvey.co.uk/id/postcodedistrict/TQ13",
              "DISTRICT_BOROUGH" : "Teignbridge",
              "DISTRICT_BOROUGH_URI" : "http://data.ordnancesurvey.co.uk/id/7000000000022881",
              "DISTRICT_BOROUGH_TYPE" : "http://data.ordnancesurvey.co.uk/ontology/admingeo/District",
              "COUNTY_UNITARY" : "Devon",
              "COUNTY_UNITARY_URI" : "http://data.ordnancesurvey.co.uk/id/7000000000023147",
              "COUNTY_UNITARY_TYPE" : "http://data.ordnancesurvey.co.uk/ontology/admingeo/County",
              "REGION" : "South West",
              "REGION_URI" : "http://data.ordnancesurvey.co.uk/id/7000000000041427",
              "COUNTRY" : "England",
              "COUNTRY_URI" : "http://dat[...]
- request:
    method: get
    uri: https://api.os.uk/search/names/v1/find?fq=local_type:City%20local_type:Hamlet%20local_type:Other_Settlement%20local_type:Town%20local_type:Village%20local_type:Postcode&key=geocoderkey&query=Luton,%20UK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Omse-Category:
      - open
      Omse-Transaction-Count:
  [...]
[...]
