<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Privacy policy</h1>

    <p class="govuk-body">
    This privacy notice explains how the Department for Education (DfE) uses your personal data when you use ‘Find a teaching school hub’.
    </p>

    <p class="govuk-body">
    Teaching school hubs provide or give advice on professional development for school teachers and leaders.
    </p>

    <h2 class="govuk-heading-l">Lawful basis for processing your personal data</h2>

    <p class="govuk-body">
    When you use ‘Find a teaching school hub’, DfE is the data controller for your personal data.
    </p>

    <p class="govuk-body">
    Our lawful basis for processing your personal data is ‘public task’ (article 6(1)(e) UK GDPR). This means that we use your data to carry out a task in the public interest, and our duty to do so is laid down by law.
    </p>

    <p class="govuk-body">
    Under section 10 of the Education Act 1996, the Secretary of State for the Department for Education has a duty to ‘promote the education of the people of England and Wales’. ‘Find a teaching school hub’ contributes to this.
    </p>

    <p class="govuk-body">
    We also ask for your consent for our use of Google Analytics cookies.
    </p>


    <h2 class="govuk-heading-l">Data we collect</h2>

    <p class="govuk-body">
    We collect your Internet Protocol (IP) address when you use this service.
    </p>


    <h2 class="govuk-heading-l">How we use your data and how long we keep it</h2>

    <p class="govuk-body">
      We use your IP address to:

      <ul class="govuk-list govuk-list--bullet">
        <li>identify security and privacy threats to the service</li>

        <li>make sure the service is working correctly</li>

        <li>help us fix technical problems</li>
      </ul>
    </p>

    <div class="govuk-inset-text">
    We keep your IP for no longer than 90 days for these purposes.
    </div>


    <p class="govuk-body">
    If you consent to our use of Google Analytics <%= link_to "cookies", pages_cookies_path %>, we can also use your IP to analyse how you use the service - but we do not identify you personally when we do this. Using your data this way allows us to:


      <ul class="govuk-list govuk-list--bullet">
        <li>improve the service</li>

        <li>inform DfE work or policy</li>
      </ul>


    </p>

    <div class="govuk-inset-text">
      We keep your IP address for no longer than 26 months for these purposes.
    </div>


    <h2 class="govuk-heading-l">Sharing your data with data processors</h2>

    <p class="govuk-body">
    If you consent to our use of Google Analytics cookies, Google will process your data on our behalf.
    </p>

    <h2 class="govuk-heading-l">Your data protection rights</h2>

    <p class="govuk-body">
    You have data collection rights, including the right to:

      <ul class="govuk-list govuk-list--bullet">
        <li>ask for a copy of the personal information we have about you – ‘right of access’</li>

        <li>ask us to change any information you think is not accurate or complete – ’right to rectification’</li>

        <li>ask us to delete your personal information – ’right to erasure’</li>

        <li>ask us to stop using your information – ’right to restriction of processing’</li>

        <li>object to us processing your information – ’right to object to processing’</li>
      </ul>
    </p>


    <p class="govuk-body">
    For more information on your rights, visit the <a target="_blank" href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/">Information Comissioner’s Office website.</a>
    </p>


    <h2 class="govuk-heading-l">Ask for access to your personal data</h2>

    <p class="govuk-body">
    You can ask for access to your personal data. This is known as a subject access request.
    </p>

    <p class="govuk-body">
      <a target="_blank" href="https://form.education.gov.uk/service/Contact_the_Department_for_Education">Contact DfE to make a subject access request</a>.
    </p>


    <h2 class="govuk-heading-l" >How to contact us or make a complaint</h2>

    <p class="govuk-body">
      <a target="_blank" href="https://form.education.gov.uk/service/Contact_the_Department_for_Education">Contact DfE</a> online or write to our data protection officer at:
    </p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column govuk-!-margin-left-9">
        <p class="govuk-body">
          Emma Wharram Data Protection Officer
          <br />
          Department for Education (B2.28)
          <br />
          7 and 8 Wellington Place
          <br />
          Wellington Street
          <br />
          Leeds
          <br />
          LS1 4AW
        </p>
      </div>
    </div>

    <p class="govuk-body">
    You can also <a target="_blank" href="https://ico.org.uk/make-a-complaint/data-protection-complaints/data-protection-complaints">contact the Information Comissioner’s Office</a> online or write to them at:
    </p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column govuk-!-margin-left-9">

        <p class="govuk-body">
          Information Commissioner’s Office
          <br />
          Wycliffe House
          <br />
          Water Lane
          <br />
          Wilmslow
          <br />
          Cheshire
          <br />
          SK9 5AF
        </p>
      </div>
    </div>

    <h2 class="govuk-heading-l">DfE standards</h2>

    <p class="govuk-body">
    Visit DfE’s <a target="_blank" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">personal information charter</a> to see the standards you can expect when we use your personal data.
    </p>

    <h2 class="govuk-heading-l">Last updated</h2>

    <p class="govuk-body">
    This privacy notice was last updated on 3 October 2023.
    </p>

    <p class="govuk-body">
    Visit this page from time to time as we may update this information.
    </p>
  </div>
</div>
