<% content_for :page_title do %>
  Terms and conditions
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: root_path,
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Terms and conditions</h1>

    <p class="govuk-body">
      'Teaching school hub finder' is a service run by the Department for Education (DfE).
    </p>

    <p class="govuk-body">
      By using this service, you automatically agree to these terms and conditions in addition to the terms and conditions which apply to the use of all GOV.UK websites.
    </p>

    <p class="govuk-body">
      If you do not agree to these terms and conditions, you must not use this service.
    </p>

    <h2 class="govuk-heading-l">
      Disclaimer
    </h2>

    <p class="govuk-body">
      We do not provide any guarantees, conditions or warranties that the information on this service will be:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        current
      </li>
      <li>
        secure
      </li>
      <li>
        accurate
      </li>
      <li>
        complete
      </li>
      <li>
        reliable and always available
      </li>
      <li>
        free from bugs or viruses or any other type of damaging software or malicious technology
      </li>
    </ul>

    <p class="govuk-body">
      You must use this service:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        only to find a Teaching School Hub
      </li>

      <li>
        only for lawful purposes
      </li>
    </ul>

    <p class="govuk-body">
      You must not:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        charge your website's users to click on a link to any page of the service
      </li>
      <li>
        use this service in a way that infringes the rights of, or restricts or inhibits the use or enjoyment of, this site by anyone else
      </li>
      <li>
        say or act in a way that implies that your website is associated with this service, DfE, GOV.UK or another government department or agency
      </li>
      <li>
        load our service pages into frames on your site
      </li>
      <li>
        access parts of the site which are not publicly available, or any data or information that belongs or relates to a third party, without express consent
      </li>
    </ul>

    <h2 class="govuk-heading-l">
      Viruses, hacking and other offences
    </h2>

    <p class="govuk-body">
      You must not:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        introduce viruses, trojans, worms, logic bombs or any other material that may cause damage or loss to our IT systems or their content, or be malicious or technologically harmful
      </li>
      <li>
        try to gain unauthorised access to this service, the server on which it is stored or any server, computer or database connected to it
      </li>
      <li>
        attack this service in any way (this includes denial-of-service attacks)
      </li>
    </ul>

    <p class="govuk-body">
      We reserve the right to report any attacks or attempts to gain unauthorised access to this service or GOV.UK to the relevant law enforcement authorities and share information about you with them without notice.
    </p>

    <h2 class="govuk-heading-l">
      Information about you
    </h2>

    <p class="govuk-body">
      We collect information about you in accordance with our <%= govuk_link_to "privacy policy", "/pages/privacy-policy" %> but cannot guarantee that your personal data remains confidential.
    </p>

    <p class="govuk-body">
      By using this service, you agree to us collecting the data outlined in our privacy policy.
    </p>

    <h2 class="govuk-heading-l">
    Validity of these terms and conditions
    </h2>

    <p class="govuk-body">
    If any of these terms and conditions are held to be invalid, unenforceable, or illegal for any reason, the remaining terms and conditions will still apply.
    </p>

    <h2 class="govuk-heading-l">
    Governing law
    </h2>

    <p class="govuk-body">
    These terms and conditions are governed by and construed in accordance with the laws of England and Wales.
    </p>

    <p class="govuk-body">
    Any dispute you have which relates to these terms and conditions or your use of this service, whether contractual or non-contractual, will be subject to the exclusive jurisdiction of the courts of England and Wales (or Scotland or Northern Ireland if you are an individual in either of those jurisdictions) or, at our discretion, in any other courts having jurisdiction.
    </p>

    <h2 class="govuk-heading-l">
      Changes to these terms and conditions
    </h2>

    <p class="govuk-body">
    We check these terms and conditions regularly. We can update them at any time without notice.
    </p>

    <p class="govuk-body">
    You are automatically deemed to agree to any changes if you continue to use this service after the terms and conditions have been updated.
    </p>

    <p class="govuk-body">
    Last updated 6 October 2023.
    </p>
  </div>
</div>
