
@use "govuk-frontend/dist/govuk" as * with (
  $govuk-global-styles: true,
  $govuk-assets-path: "/"
);

.hub-results {
  border-top: 1px solid govuk-functional-colour("border");

  .hub-result {
    padding-top: 20px;
    border-bottom: 1px solid govuk-functional-colour("border");
  }
}
